{% extends "layout-for-others.html" %}
{% block content %}

<div class=" backgroundimg">
    <img src="/static/img/execom/bg.jpg" style="max-width: 100%;margin-top:10vh">
    <div class="centered">EXECOM</div>
</div>

<div class="container center black" style="max-width:1000px;font-size: 15px;">
    <ol>
      <li style="display:inline-block"><a href="/home" class="color-blue"><i class="fa fa-home"></i> Home</a> /</li>
      <li style="display:inline-block"><i class="fa fa-group"></i> Committee</li>
    </ol>
</div>
<div class="white" style="max-width: 1875px;padding-top: 40px;">
    <div class="container center" style="margin-top: 80px;padding-left: 13vw;">

        <fieldset class="col-md-4 col-sm-6" style="margin: 50px;">
            <legend class="center" style="background-color: #eeeeee; border-radius: 2px; padding: 5px;"><h3>Content Writing</h3></legend>
            <h4 class="center">Team Leader: Vasuprada G</h4>
            <p>Team Members: <span><li>Alekhya P</li><li>Nimrah Fathima</li><li>Harshita Diwakar</li></span></p>
        </fieldset>
        <fieldset class="col-md-4 col-sm-6" style="margin: 50px;">
            <legend class="center" style="background-color: #eeeeee; border-radius: 2px; padding: 5px;"> <h3>Social Media</h3></legend>
            <h4 class="center">Team Leader: Rositha Ezhil Kumar</h4>
            <p>Team Members: <span><li>Om Prakash L S</li><li>Siddarth Prabhakaran</li><li>Sreenidhi K</li></span></p>
        </fieldset>
        <fieldset class="col-md-4 col-sm-6" style="margin: 50px; margin-top: 40px;">
            <legend class="center" style="background-color: #eeeeee; border-radius: 2px; padding: 5px;"><h3>Content Development and Design</h3></legend>
            <h4 class="center">Team Leader: Amulya S</h4>
            <p>Team Members: <span><li>Dhrithi Sagar D</li><li>Kushal J</li><li>Pranitha D</li><li>Chandan</li></span></p>
        </fieldset>
        <fieldset class="col-md-4 col-sm-6" style="margin: 50px;">
            <legend class="center" style="background-color: #eeeeee; border-radius: 2px; padding: 5px;"><h3>Membership Development</h3></legend>
            <h4 class="center">Team Leader: Sneha Shree M</h4>
            <p>Team Members: <span><li>Ritu Girimaji</li><li>Shreya S</li><li>Rishab Khatokhar</li><li>Prajwal S</li></span></p><br>
        </fieldset>
        <fieldset class="col-md-4 col-sm-6" style="margin: 50px;">
            <legend class="center" style="background-color: #eeeeee; border-radius: 2px; padding: 5px;"><h3>Webinar Management</h3></legend>
            <h4 class="center">Team Leader: V R Harika</h4>
            <p>Team Members: <span><li>Sahana Manjesh</li><li>Subhra Rao</li><li>Sheikh Sulaiman</li><li>Shilpa D</li><li>Abhishek V</li></span></p>
        </fieldset>

    </div>
</div>

<div class="container padding-80 center">
    <button class="button black section" type="submit" ><a href="/" style="text-decoration: none;">BACK TO HOME</a></button>
</div>
{% endblock %}
