{% extends "template-events.html" %}

{% block name_of_the_event_path %}
IEEE DSU Student Branch Website Design Contest
{% endblock %}

{% block name_of_the_event %}
IEEE DSU Student Branch Website Design Contest
{% endblock %}

{% block status %}
Upcoming Event
{% endblock %}

{% block date %}
23-04-2020
{% endblock %}

{% block time %}
10:00:00
{% endblock %}

{% block tech %}
Technical
{% endblock %}

{% block venue %}
Gallery Hall 1
{% endblock %}

{% block introduction %}
IEEE DSU is hosting a website design contest open for all the students of Dayananda Sagar University School of Engineering. 
The winners of this contest will be participating in the IEEE region 10 student branch website contest representing DSU. 
{% endblock %}

{% block objective %}
The objective of the above competition is to encourage students to develop creative website which will boost their resume as well.
{% endblock %}

{% block goals %}
<ul>
    <li class="black-text">To Inspire, engage, encourage, and empower students.</li>
    <li class="black-text">Promote the importance of skills and their end product in the society.</li>
    <li class="black-text">Introduce the students to the professional of technological world.</li>
    <li class="black-text">Project the modern era projects to students.</li>
    <li class="black-text">Promote IEEE and IEEE DSU.</li>
    <li class="black-text">A mentoring platform, provided to the students to groom their skills for professional life.</li>
</ul>
{% endblock %}

{% block register_info %}
Fill the google form to register.
{% endblock %}

{% block google_form_link %}
http://www.google.com
{% endblock %}