{% extends "layout.html" %}
{% block content %}
<html>
    
    <body>
        <div class="container display-container content center padding-80" style="max-width:800px" id="events">
            <h2 class="wide">EVENTS</h2>
            <p class="opacity"><i>IEEE bringing you the latest in Technology News</i></p>
            <p class="justify">The IEEE newsroom features the latest news from IEEE around the world.<br>
              Find recent and past news related to IEEE hot topics, technical experts, products, awards, services, and events.</p>
            <p class="left"><i>Recent News:</i></p>
            <div>
              <div class="row padding-16">
                <p class="left">7 April 2020</p><br>
                <p class="container justify">IEEE Provides Free Access to COVID-19 Relevant Research Articles and Standards in IEEE 
                  Xplore® Digital Library.<br>IEEE, the world’s largest technical professional organization advancing technology for 
                  humanity, is committed to supporting the global response to COVID-19. The organization is providing free, direct
                  access to a collection of various COVID-19 related research articles and standards to help researchers understand, 
                  manage and combat the different aspects of the pandemic.</p>
              </div>
            </div>
          </div>
    </body>

</html>



{% endblock %}