{% extends "layout-for-others.html" %}
{% block content %}
<html>
    
    <body>
      <div class="container content padding-80" style="max-width:1000px" id="events">
        <h2 class="wide center">EVENTS</h2>
        <p class="opacity center"><i>IEEE bringing you the latest in Technology News</i></p>
        <div class="tab">
          <button class="tablinks tabbutton " onclick="openStatus(event, 'Upcoming')" id="defaultOpen">Upcoming Events</button>
          <button class="tablinks tabbutton " onclick="openStatus(event, 'Past')">Past Events</button>
        </div>
        
        <div id="Upcoming" class="tabcontent">
          <h3>--Upcoming Events</h3>
          
        </div>
        
        <div id="Past" class="tabcontent">
          <h3>--Past Events</h3>
          
        </div>
      </div>
      
  
    </body>

</html>



{% endblock %}


<div class="container padding- center">
  <button class="button black section" type="submit" ><a href="/" style="text-decoration: none;">BACK TO HOME</a></button>
</div>