{% extends "layout-for-others.html" %}
{% block content %}
<html>
  <style>
    img{
      position: relative;
    }
    img:hover{
      opacity: 1;
    }
  </style>
    
    
  <body>      
    <!--EXE-COM--> <!--Pictures are 600px*700px-->  
    <div class="container content padding-80" style="max-width:1000px" id="execom">
      <h1 class="wide center">EXECOM</h1>
      <p class="opacity center"><i>Members</i></p>
  
      
      <div class="row-padding padding-32" style="margin:0 -16px">

        <div class="container center border-bottom" style="margin-bottom:20px;">
          <h2>Branch Counseler</h2><br>
          <div class="margin-bottom">
            <div class="container roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Dr. Pushpa Mala S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Dr. Pushpa Mala S</div>
              </div>
              <div class="container white border center" style="max-width: 200px;">
                <h4>Counselor</h4>
              </div><br>
            </div>
          </div>
        </div>

        <div class="container center border-bottom" >
          <h2>Student-Branch</h2><br>
          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Sai Saahas S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Sai Saahas S</div>
              </div>
              <div class="container white border">
                <h4>Chair</h4>
              </div>
            </div>
          </div>

          <div class="third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Amulya S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Amulya S</div>
              </div>
              <div class="container white border">
                <h4>Vice Chair</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Yashas R.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Yashas R</div>
              </div>
              <div class="container white border">
                <h4>Secretary</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/V R Harika.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">V R Harika</div>
              </div>
              <div class="container white border">
                <h4>Vice Secretary</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Ashish T S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Ashish T S</div>
              </div>
              <div class="container white border">
                <h4>Treasurer</h4>
              </div>
            </div> 
          </div>
 
        </div>

        <div class="container center border-bottom">
          <h2>Advisory Committee</h2><br>

          <div class="third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Abhishek S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Abhishek S</div>
              </div>
              <div class="container white border">
                <h4>Chair</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom ">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Gaurav G.jpg"style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Abhishek S</div>
              </div>
              <div class="container white border">
                <h4>Member</h4>
              </div>
            </div>
          </div>

        </div>

        <div class="container center border-bottom">
          <h2>WiE EXE-COM</h2><br>

          <div class="third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Amulya S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Amulya S</div>
              </div>
              <div class="container white border">
                <h4>Chair</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Rithi R.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Rithi R</div>
              </div>
              <div class="container white border">
                <h4>Vice Chair</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Sneha Shree M.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Sneha Shree M</div>
              </div>
              <div class="container white border">
                <h4>Secretary</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Vasuprada G.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Vasuprada G</div>
              </div>
              <div class="container white border">
                <h4>Vice Secretary</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Prathima A L.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Prathima A L</div>
              </div>
              <div class="container white border">
                <h4>Treasurer</h4>
              </div>
            </div>
          </div>

        </div>

        <div class="container center border-bottom">
          <h2>SIGHT EXE-COM</h2><br>

          <div class="third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Dr. Pushpa Mala S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Dr. Pushpa Mala S</div>
              </div>
              <div class="container white border">
                <h4>Chair</h4>
              </div><br>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Suhiepha Sameer .jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Suhiepha Sameer</div>
              </div>
              <div class="container white border">
                <h4>Secretary</h4>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class="roundpic" style="border-radius: 50%;max-width:200px;">
              <img src="/static/img/execom/Rositha Ezhil Kumar.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
              <div class="middle">
                <div class="data">Rositha Ezhil Kumar</div>
              </div>
              <div class="container white border">
                <h4>Treasurer</h4>
              </div>
            </div>
          </div>

        </div>
        

      </div>
        
    </div>
        
      

      
    <div class="container padding- center">
      <button class="button black section" type="submit" ><a href="/" style="text-decoration: none;">BACK TO HOME</a></button>
    </div>
      
  
  </body>

</html>



{% endblock %}
