{% extends "layout-for-others.html" %}
{% block content %}
<html>
  <style>
    img{
      position: relative;
    }
    img:hover{
      opacity: 1;
    }
  </style>
    
    
  <body>      
    <!--EXE-COM--> <!--Pictures are 600px*700px--> 
    <div class=" backgroundimg">
      <img src="/static/img/execom/bg.jpg" style="max-width: 100%;margin-top:10vh">
      <div class="centered">EXECOM</div>
    </div>

    <div class="container center black" style="max-width:1000px;font-size: 15px;">
      <ol>
        <li style="display:inline-block"><a href="/home" class="color-blue"><i class="fa fa-home"></i> Home</a> /</li>
        <li style="display:inline-block"><i class="fa fa-user"></i> EXECOM</li>
      </ol>
    </div>

    <div class="container content padding-80" style="max-width:1300px" id="execom">
      <h3 class="center">We are proud to have the following people as the part of our team,<br>
        They represent not only us but the whole university.</h3>
      <p class="opacity center"><i>Members</i></p>
  
      
      <div class="row-padding padding-32" style="margin:0 -16px">

        <div class="container center border-bottom" style="margin-bottom:20px;">
          <h2>Branch Counseler</h2><br>
          <div class="margin-bottom">
            <div class= "popup" onmouseover="Popup1().toggle(pop)" onmouseout="Popup1().toggle(popstop)">
              <div class="container roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Dr. Pushpa Mala S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup1">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Dr. Pushpa Mala S</div>
                </div>
                <div class="container white border center" style="max-width: 200px;">
                  <h4>Counselor</h4>
                </div><br>
              </div>
            </div>
          </div>
        </div>

        <div class="container center border-bottom" >
          <h2>Student-Branch</h2><br>
          
          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup2().toggle(pop)" onmouseout="Popup2().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Sai Saahas S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>  
                <span class="popuptext" id="myPopup2">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Sai Saahas S</div>
                </div>
                <div class="container white border">
                  <h4>Chair</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="third margin-bottom">
            <div class= "popup" onmouseover="Popup3().toggle(pop)" onmouseout="Popup3().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Amulya S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup3">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Amulya S</div>
                </div>
                <div class="container white border">
                  <h4>Vice Chair</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup4().toggle(pop)" onmouseout="Popup4().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Yashas R.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup4">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Yashas R</div>
                </div>
                <div class="container white border">
                  <h4>Secretary</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup5().toggle(pop)" onmouseout="Popup5().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/V R Harika.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup5">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm V R Harika</div>
                </div>
                <div class="container white border">
                  <h4>Vice Secretary</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup6().toggle(pop)" onmouseout="Popup6().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Ashish T S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup6">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Ashish T S</div>
                </div>
                <div class="container white border">
                  <h4>Treasurer</h4>
                </div>
              </div>
            </div> 
          </div>
 
        </div>

        <div class="container center border-bottom">
          <h2>Advisory Committee</h2><br>

          <div class="third margin-bottom">
            <div class= "popup" onmouseover="Popup7().toggle(pop)" onmouseout="Popup7().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Abhishek S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup7">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Abhishek S</div>
                </div>
                <div class="container white border">
                  <h4>Chair</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom ">
            <div class= "popup" onmouseover="Popup8().toggle(pop)" onmouseout="Popup8().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Gaurav G.jpg"style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup8">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Gaurav G</div>
                </div>
                <div class="container white border">
                  <h4>Member</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="container center border-bottom">
          <h2>WiE EXE-COM</h2><br>

          <div class="third margin-bottom">
            <div class= "popup" onmouseover="Popup9().toggle(pop)" onmouseout="Popup9().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Amulya S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup9">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Amulya S</div>
                </div>
                <div class="container white border">
                  <h4>Chair</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup10().toggle(pop)" onmouseout="Popup10().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Rithi R.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup10">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Rithi R</div>
                </div>
                <div class="container white border">
                  <h4>Vice Chair</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup11().toggle(pop)" onmouseout="Popup11().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Sneha Shree M.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup11">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Sneha Shree M</div>
                </div>
                <div class="container white border">
                  <h4>Secretary</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup12().toggle(pop)" onmouseout="Popup12().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Vasuprada G.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup12">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Vasuprada G</div>
                </div>
                <div class="container white border">
                  <h4>Vice Secretary</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup13().toggle(pop)" onmouseout="Popup13().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Prathima A L.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup13">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Prathima A L</div>
                </div>
                <div class="container white border">
                  <h4>Treasurer</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="container center border-bottom">
          <h2>SIGHT EXE-COM</h2><br>

          <div class="third margin-bottom">
            <div class= "popup" onmouseover="Popup14().toggle(pop)" onmouseout="Popup14().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Dr. Pushpa Mala S.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup14">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Dr. Pushpa Mala S</div>
                </div>
                <div class="container white border">
                  <h4>Chair</h4>
                </div><br>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup15().toggle(pop)" onmouseout="Popup15().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Suhiepha Sameer .jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup15">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Suhiepha Sameer</div>
                </div>
                <div class="container white border">
                  <h4>Secretary</h4>
                </div>
              </div>
            </div>
          </div>

          <div class=" third margin-bottom">
            <div class= "popup" onmouseover="Popup16().toggle(pop)" onmouseout="Popup16().toggle(popstop)">
              <div class="roundpic" style="border-radius: 50%;max-width:200px;">
                <div class="circle-img">
                  <img src="/static/img/execom/Rositha Ezhil Kumar.jpg" style="border-radius: 50%;max-width: 200px;" class="member">
                </div>
                <span class="popuptext" id="myPopup16">My Bio data... few lines about me!</span>
                <div class="middle">
                  <div class="data">Hi, I'm Rositha Ezhil Kumar</div>
                </div>
                <div class="container white border">
                  <h4>Treasurer</h4>
                </div>
              </div>
            </div>
          </div>

        </div>
        

      </div>
        
    </div>
        
      

      
    <div class="container padding- center">
      <button class="button black section" type="submit" ><a href="/" style="text-decoration: none;">BACK TO HOME</a></button>
    </div>
      
  


    <script>
      // When the user clicks on div, open the popup
      function Popup1() {
        var popup = document.getElementById("myPopup1");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");

      }
      function Popup2() {
        var popup = document.getElementById("myPopup2");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup3() {
        var popup = document.getElementById("myPopup3");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup4() {
        var popup = document.getElementById("myPopup4");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup5() {
        var popup = document.getElementById("myPopup5");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup6() {
        var popup = document.getElementById("myPopup6");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup7() {
        var popup = document.getElementById("myPopup7");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup8() {
        var popup = document.getElementById("myPopup8");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup9() {
        var popup = document.getElementById("myPopup9");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup10() {
        var popup = document.getElementById("myPopup10");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup11() {
        var popup = document.getElementById("myPopup11");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup12() {
        var popup = document.getElementById("myPopup12");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup13() {
        var popup = document.getElementById("myPopup13");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup14() {
        var popup = document.getElementById("myPopup14");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup15() {
        var popup = document.getElementById("myPopup15");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      function Popup16() {
        var popup = document.getElementById("myPopup16");
        popup.classList.toggle("pop");
        popup.classList.toggle("popdown");
      }
      
    </script>
  </body>

</html>



{% endblock %}
