{% extends "layout-for-others.html" %}

{% block content %}
<div class="white">
    <div class="container row-padding padding-16 center" style="margin:3cm; width: 30cm; margin-left: -2;">
        <div class="third margin-bottom  " style="width:9cm; height: 5cm; ">
        <img src="/static/photo.jpg" alt="AISYWC Hyderabad 2019"  class="hover-opacity ">
        <div class="center">
            <p><b>Branch Counselor</b></p>
        </div>
        </div>
        <div class="third margin-bottom center" style=" width: 330px; height: 200px;">
        <img src="/static/photo.jpg" alt="WIECON ECE Bangalore 2019"  class="hover-opacity">
        <div class="  center" >
            <p><b>Advisory Committee member 1</b></p>
        </div>
        </div>
        <div class="third margin-bottom center" style=" width: 330px; height: 200px;">
            <img src="/static/photo.jpg" alt="WIECON ECE Bangalore 2019"  class="hover-opacity">
            <div class=" center" >
            <p><b>Advisory Committee member 2</b></p>
            </div>
        </div>
    </div>
    <div class="container row-padding padding-16 center" style="margin:3cm; width: 30cm; margin-left: -2;">
        <div class="third margin-bottom " style="width:9cm; height: 5cm; ">
        <img src="/static/photo.jpg" alt="AISYWC Hyderabad 2019"  class="hover-opacity">
        <div class="">
            <p><b>SB Chair</b></p>
        </div>
        </div>
        <div class="third margin-bottom center" style=" width: 330px; height: 200px;">
        <img src="/static/photo.jpg" alt="WIECON ECE Bangalore 2019"  class="hover-opacity">
        <div class=" center" >
            <p><b>SB Vice-chair</b></p>
        </div>
        </div>
        <div class="third margin-bottom center" style=" width: 330px; height: 200px;">
            <img src="/static/photo.jpg" alt="WIECON ECE Bangalore 2019"  class="hover-opacity">
            <div class="  center" >
            <p><b> SB Secretary</b></p>
            </div>
        </div>
    </div>
    <div class="container row-padding padding-16 center" style="margin:3cm; width: 30cm; margin-left: -2;">
        <div class="third margin-bottom " style="width:9cm; height: 5cm; ">
        <img src="/static/photo.jpg" alt="AISYWC Hyderabad 2019"  class="hover-opacity">
        <div class="">
            <p><b>SB Treasurer</b></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
