{% extends "layout-for-others.html" %}
{% block content %}


<link rel="stylesheet" href="/static/main.css">

<link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

<div id="video-container" style="margin-top: 90px;">
  <video autoplay="" loop="" muted>
    <source src="/static/img/gallery/FinalVideo.mp4" type="video/mp4"/>
  </video>
  <div class="video-overlay"></div>

  <div class="video-content">
      <div class="inner">
        <h1>Welcome to <em>IEEE DSU</em></h1>
        <p>Gallery</p>
          <div class="scroll-icon">
            <a class="scrollTo" data-scrollTo="portfolio" href="#portfolio"><img src="/static/img/gallery/scroll-icon.png" alt=""></a>
          </div>
      </div>
  </div>
</div>

<div class="full-width" >
  <div class="grid-portfolio" id="portfolio">
    <div class="container">

      <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
          <a href="/static/img/gallery/g2.jpg" data-lightbox="image-1">
          <div class="thumb">
            <div class="hover-effect">
              <div class="hover-content">
                <h1>IEEE</h1>
                <p>IEEE India Council.</p>
              </div>
            </div>
            <div class="image">
              <img src="/static/img/gallery/g2.jpg" style="height: 230px;">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="portfolio-item" >
          <a href="/static/img/gallery/g3.jpg" data-lightbox="image-1">
          <div class="thumb">
            <div class="hover-effect">
              <div class="hover-content">
                <h1>ILS Bangalore 2019</h1>
                <p>International leadership WIE</p>
              </div>
            </div>
            <div class="image">
              <img src="/static/img/gallery/g3.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="portfolio-item" >
          <a href="/static/img/gallery/g1.jpg" data-lightbox="image-1">
          <div class="thumb">
            <div class="hover-effect">
              <div class="hover-content">
                <h1>AISYWC </h1>
                <p>Hyderabad 2019</p>
              </div>
            </div>
            <div class="image">
              <img src="/static/img/gallery/g1.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
          <a href="/static/img/gallery/g4.jpg" data-lightbox="image-1">
          <div class="thumb">
            <div class="hover-effect">
              <div class="hover-content">
                <h1>WIECON</h1>
                <p>WIECON ECE Bangalore 2019</p>
              </div>
            </div>
            <div class="image">
              <img src="/static/img/gallery/g4.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="portfolio-item" >
          <a href="/static/img/gallery/g5.jpg" data-lightbox="image-1">
          <div class="thumb">
            <div class="hover-effect">
              <div class="hover-content">
                <h1>Bangalore Section </em></h1>
                <p>BC Meet 2020</p>
              </div>
            </div>
            <div class="image">
              <img src="/static/img/gallery/g5.jpg" style="height: 180px;">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="container padding- center">
      <button class="button white section" type="submit" ><a href="/" style="text-decoration: none;">BACK TO HOME</a></button>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% endblock %}
