{% extends "layout.html" %}


{% block content %}
<div class="container row-padding padding-16 center" style="margin:5cm; width: 30cm;">
    <div class="third margin-bottom " style="width:9cm; height: 5cm; margin-right: 2cm;">
      <img src="/static/g1.jpeg" alt="AISYWC Hyderabad 2019" style="width:10cm; height: 6.5cm;" class="hover-opacity">
      <div class="white">
        <p><b>AISYWC Hyderabad 2019</b></p>
      </div>
    </div>
    <div class="third margin-bottom center" style=" width: 330px; height: 200px;">
      <img src="/static/g5.jpeg" alt="WIECON ECE Bangalore 2019" style="width: 400px; height: 250px; margin-left: 1cm;" class="hover-opacity">
      <div class=" white center" style="margin-left: 4cm;">
        <p><b>WIECON ECE Bangalore 2019</b></p>
      </div>
    </div>
  </div>
  <div class=" row-padding  center" style="margin:5cm">
    <div class="third margin-bottom center " style="width:20cm; height: 5cm; margin-right: 2cm; margin-top: -1cm;">
      <img src="/static/g3.jpg" alt="AISYWC Hyderabad 2019" style="width: 22cm; height: 8cm; margin-left: 0.5cm;" class="hover-opacity">
      <div class=" center white" style="margin-left: 4cm;">
        <p><b>IEEE India Council</b></p>
      </div>
    </div>
  </div>
  <div class=" row-padding  center" style="margin:5cm; margin-bottom: 10cm;">
    <div class="third margin-bottom center " style="width:20cm; height: 5cm; margin-right: 2cm; margin-top: -1cm;">
      <img src="/static/g4.jpg" alt="AISYWC Hyderabad 2019" style="width: 22cm; height: 13cm; margin-left: 0.5cm; margin-top: 1cm;" class="hover-opacity">
      <div class=" center white" style="margin-left: 4cm;">
        <p><b>ILS Bangalore 2019</b></p>
      </div>
    </div>
  </div>
{% endblock %}
