<!DOCTYPE html>
<html lang="en">
<title>IEEE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<style>
body {font-family: "Lato", sans-serif}

</style>
<body>

<!-- Navbar -->
<div class="top">
  <div class="bar black card">
    <a class="bar-item button padding-large hide-medium hide-large right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="dropdown-hover hide-small right" style="margin-top: 15px;">
      <button class="padding-large button" title="More">MORE <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content  bar-block card-4" style="right:0">
        <a href="https://github.com/IEEE" target="_blank" class="bar-item button padding-large hide-small "><i class="fa fa-tasks fa-lg"></i> PROJECTS</a>
        <a href="/home/committee" class="bar-item button padding-large hide-small "><i class="fa fa-group fa-lg"></i> COMMITTEE</a>
        <a href="#achievements" class="bar-item button padding-large hide-small "><i class="fa fa-trophy fa-lg"></i> ACHIEVEMENTS</a>
        <a href="/home#contact" class="bar-item button padding-large hide-small "><i class="fa fa-phone fa-lg"></i> CONTACT US</a>
      </div>
    </div>
    <a href="/home/execom" class="bar-item button padding-large hide-small right" style="margin-top:15px"><i class="fa fa-user fa-lg"></i> EXE COM</a>
    <a href="#gallery" class="bar-item button padding-large hide-small right" style="margin-top:15px"><i class="fa fa-picture-o fa-lg"></i> GALLERY</a>
    <a href="#events" class="bar-item button padding-large hide-small right" style="margin-top:15px"><i class="fa fa-calendar fa-lg"></i> EVENTS</a>
    <a href="#aboutus" class="bar-item button padding-large right " style="margin-top:15px"><i class="fa fa-home fa-lg"></i> HOME</a>
    <a href="https://www.ieee.org/" target="_blank" class="bar-item button padding-large red hide-small right" style="margin-top:15px" ><b>JOIN  IEEE!</b></a>
    <a class="padding-left"  href="/home"> <img src="/static/img/logo.jpg" style="height: 90px;"> </a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="bar-block black hide hide-large hide-medium top" style="margin-top:46px">
  <a href="#events" class="bar-item button padding-large" onclick="myFunction()"><i class="fa fa-calendar fa-lg"></i> EVENTS</a>
  <a href="#gallery" class="bar-item button padding-large" onclick="myFunction()"><i class="fa fa-picture-o fa-lg"></i> GALLERY</a>
  <a href="https://github.com/IEEE" target="_blank" class="bar-item button padding-large" onclick="myFunction()"><i class="fa fa-tasks fa-lg"></i> PROJECTS</a>
  <a href="/home/committee" class="bar-item button padding-large"onclick="myFunction()"><i class="fa fa-group fa-lg"></i> COMMITTEE</a>
  <a href="#achievements" class="bar-item button padding-large" onclick="myFunction()"><i class="fa fa-trophy fa-lg"></i> ACHIEVEMENTS</a>
  <a href="/home/execom" class="bar-item button padding-large" onclick="myFunction()"><i class="fa fa-user fa-lg"></i> EXE COM</a>
  <a href="#contact" class="bar-item button padding-large" onclick="myFunction()"><i class="fa fa-phone fa-lg"></i> CONTACT US</a>

</div>

{% block content %}
{% endblock %}


  <script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("show") == -1) {
      x.className += " show";
    } else {
      x.className = x.className.replace(" show", "");
    }
  }
  </script>

  <!--Scroll animation when clicked on button in nav bar --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 400, function(){
            window.location.hash = hash;
          });
        }
      });
    });
  </script>
  
  <!--Home slideshow-->
  <script>
    var HslideIndex = 1;
    var Hmillis = 3000;
    var Hinterval;
    
    HstartSlides();
    
    function HstartSlides(){
      HpauseSlides();
      HnextSlide();
      Hinterval = setInterval(HnextSlide, Hmillis);
    }

    function HresumeSlides() {
      clearInterval(Hinterval);
      Hinterval= setInterval(function(){
        HplusSlides(HslideIndex)},Hmillis-1000);
    }

    function HpauseSlides() {
      clearInterval(Hinterval);
    }

    function HnextSlide() {
      HshowSlide();
      HslideIndex++;
    }

    function HplusSlides(n) {
      clearInterval(Hinterval);
      HslideIndex += n;
      HnextSlide();
      Hinterval = setInterval(HnextSlide, Hmillis);
    }

    function HcurrentSlide(n) {
      clearInterval(Hinterval);
      HslideIndex = n + 1;
      HnextSlide();
      Hinterval = setInterval(HnextSlide, Hmillis);
    }

    function HshowSlide() {
      var i;
      var slides = document.getElementsByClassName("HomeSlides");
      var dots = document.getElementsByClassName("Hdot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      if (HslideIndex > slides.length) {
        HslideIndex = 1;
      }
      if (HslideIndex < 1) {
        HslideIndex = slides.length;
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" Hactive", "");
      }
      slides[HslideIndex - 1].style.display = "block";
      dots[HslideIndex - 1].className += " Hactive";
    }
  </script>

  <!--Gallery slideshow-->
  <script>
    var GslideIndex = 1;
    var Gmillis = 2000;
    var Ginterval;
    
    GstartSlides();
    
    function GstartSlides(){
      GpauseSlides();
      GnextSlide();
      Ginterval = setInterval(GnextSlide, Gmillis);
    }

    function GresumeSlides() {
      clearInterval(Ginterval);
      Ginterval= setInterval(function(){
        GplusSlides(GslideIndex)},Gmillis-1000);
    }

    function GpauseSlides() {
      clearInterval(Ginterval);
    }

    function GnextSlide() {
      GshowSlide();
      GslideIndex++;
    }

    function GplusSlides(n) {
      clearInterval(Ginterval);
      GslideIndex += n;
      GnextSlide();
      Ginterval = setInterval(GnextSlide, Gmillis);
    }

    function GcurrentSlide(n) {
      clearInterval(Ginterval);
      GslideIndex = n + 1;
      GnextSlide();
      Ginterval = setInterval(GnextSlide, Gmillis);
    }

    function GshowSlide() {
      var i;
      var slides = document.getElementsByClassName("GallerySlides");
      var dots = document.getElementsByClassName("Gdot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      if (GslideIndex > slides.length) {
        GslideIndex = 1;
      }
      if (GslideIndex < 1) {
        GslideIndex = slides.length;
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" GAactive", "");
      }
      slides[GslideIndex - 1].style.display = "block";
      dots[GslideIndex - 1].className += " GAactive";
    }
  </script>

  <!--Achievements slideshow-->
  <script>
    var AslideIndex = 1;
    var Amillis = 4000;
    var Ainterval;
    
    AstartSlides();
    
    function AstartSlides(){
      ApauseSlides();
      AnextSlide();
      Ainterval = setInterval(AnextSlide, Amillis);
    }

    function AresumeSlides() {
      clearInterval(Ainterval);
      Ainterval= setInterval(function(){
        AplusSlides(AslideIndex)},Amillis-1000);
    }

    function ApauseSlides() {
      clearInterval(Ainterval);
    }

    function AnextSlide() {
      AshowSlide();
      AslideIndex++;
    }

    function AplusSlides(n) {
      clearInterval(Ainterval);
      AslideIndex += n;
      AnextSlide();
      Ainterval = setInterval(AnextSlide, Amillis);
    }

    function AcurrentSlide(n) {
      clearInterval(Ainterval);
      AslideIndex = n + 1;
      AnextSlide();
      Ainterval = setInterval(AnextSlide, Amillis);
    }

    function AshowSlide() {
      var i;
      var slides = document.getElementsByClassName("AchievementSlides");
      var dots = document.getElementsByClassName("Adot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      if (AslideIndex > slides.length) {
        AslideIndex = 1;
      }
      if (AslideIndex < 1) {
        AslideIndex = slides.length;
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" GAactive", "");
      }
      slides[AslideIndex - 1].style.display = "block";
      dots[AslideIndex - 1].className += " GAactive";
    }
  </script>

</body>

<!-- Footer -->
<footer class="container padding-64 center opacity light-grey xlarge">
  <a href="https://www.facebook.com/IEEE.org/" target="_blank"><i class="fa fa-facebook-official hover-opacity"></i></a>
  <a href="https://www.instagram.com/ieeeorg/?hl=en" target="_blank"><i class="fa fa-instagram hover-opacity"></i></a>
  <a href="https://www.linkedin.com/company/ieee" target="_blank"><i class="fa fa-linkedin hover-opacity"></i></a>
  </footer>
  <footer class="container center opacity light-grey" style="padding-bottom: 20px">
      <a href="https://www.ieee.org/" target="_blank" class=" button padding-large center black large " style="margin-top:25px" >JOIN  IEEE!</a>
  </footer>
</html>
