<!DOCTYPE html>
<html lang="en">
<title>IEEE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none; padding-top: none;}

</style>
<body>

<!-- Navbar -->
<div class="top">
  <div class="bar black card">
    <a class="bar-item button padding-large hide-medium hide-large right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="dropdown-hover hide-small right" style="margin-top: 15px;">
      <button class="padding-large button" title="More">MORE <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content  bar-block card-4" style="right:0">
        <a href="https://github.com/IEEE" target="_blank" class="bar-item button padding-large hide-small ">PROJECTS</a>
        <a href="#achievements" class="bar-item button padding-large hide-small ">ACHIEVEMENTS</a>
        <a href="\home#contact" class="bar-item button padding-large hide-small ">CONTACT US</a>
      </div>
    </div>
    <a href="\execom" class="bar-item button padding-large hide-small right" style="margin-top:15px">EXE COM</a>
    <a href="#gallery" class="bar-item button padding-large hide-small right" style="margin-top:15px">GALLERY</a>
    <a href="#events" class="bar-item button padding-large hide-small right" style="margin-top:15px">EVENTS</a>
    <a href="#aboutus" class="bar-item button padding-large right " style="margin-top:15px">HOME</a>
    <a href="https://www.ieee.org/" target="_blank" class="bar-item button padding-large red hide-small right" style="margin-top:15px" ><b>JOIN  IEEE!</b></a>
    <a class="padding-left"  href="/home"> <img src="/static/logo.jpg" style="height: 90px;"> </a>
    <div class="search-container bar-item padding-large hide-small right">
      <form action="/action_page.php">
        <input style="margin-top:15px"type="text" placeholder="Search.." name="search">
        <button class=" button fa fa-search" type="submit" ><i></i></button>
      </form>
    </div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="bar-block black hide hide-large hide-medium top" style="margin-top:46px">
  <a href="#events" class="bar-item button padding-large" onclick="myFunction()">EVENTS</a>
  <a href="#gallery" class="bar-item button padding-large" onclick="myFunction()">GALLERY</a>
  <a href="https://github.com/IEEE" target="_blank" class="bar-item button padding-large" onclick="myFunction()">PROJECTS</a>
  <a href="\#achievements" class="bar-item button padding-large" onclick="myFunction()">ACHIEVEMENTS</a>
  <a href="\execom" class="bar-item button padding-large" onclick="myFunction()">EXE COM</a>
  <a href="#contact" class="bar-item button padding-large" onclick="myFunction()">CONTACT US</a>

</div>

{% block content %}
{% endblock %}


<script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("show") == -1) {
      x.className += " show";
    } else {
      x.className = x.className.replace(" show", "");
    }
  }

  </script>

  <!--Slides in Achievements-->
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("Slides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 400, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>
    <script>
      !function(a) {
        var b=function(b, c) {
          b.data("flipped", !0);
          var e="rotate"+b.data("axis");
          b.find(b.data("front")).css( {
            transform: e+(b.data("reverse")?"(-180deg)":"(180deg)"), "z-index":"0"
          }
          ),
          b.find(b.data("back")).css( {
            transform: e+"(0deg)", "z-index":"1"
          }
          ),
          b.one(d(), function() {
            a(this).trigger("flip:done"), void 0!==c&&c.call(this)
          }
          )
        }
        ,
        c=function(b, c) {
          b.data("flipped", !1);
          var e="rotate"+b.data("axis");
          b.find(b.data("front")).css( {
            transform: e+"(0deg)", "z-index":"1"
          }
          ),
          b.find(b.data("back")).css( {
            transform: e+(b.data("reverse")?"(180deg)":"(-180deg)"), "z-index":"0"
          }
          ),
          b.one(d(), function() {
            a(this).trigger("flip:done"), void 0!==c&&c.call(this)
          }
          )
        }
        ,
        d=function() {
          var a,
          b=document.createElement("fakeelement"),
          c= {
            transition: "transitionend", OTransition:"oTransitionEnd", MozTransition:"transitionend", WebkitTransition:"webkitTransitionEnd"
          }
          ;
          for(a in c)if(void 0!==b.style[a])return c[a]
        }
        ;
        a.fn.flip=function(d, f) {
          return"function"==typeof d&&(f=d),
          this.each(function() {
            var g=a(this);
            if(void 0===d||"boolean"!=typeof d&&"string"!=typeof d)if(g.data("initiated"))!d||void 0===d.axis&&void 0===d.reverse||e.call(this, d, function() {
              g.trigger("flip:change"), void 0!==f&&f.call(this)
            }
            );
            else {
              g.data("initiated", !0);
              var h=a.extend( {
                axis: "y", reverse:!1, trigger:"click", speed:500, forceHeight:!1, forceWidth:!1, autoSize:!0, front:"auto", back:"auto"
              }
              , d);
              "auto"==h.front?h.front=g.find(".front").length>0?".front":"div:first-child":"autostrict"==h.front&&(h.front="div:first-child"), "auto"==h.back?h.back=g.find(".back").length>0?".back":"div:first-child + div":"autostrict"==h.back&&(h.back="div:first-child + div"), g.data("reverse", h.reverse), g.data("axis", h.axis), g.data("front", h.front), g.data("back", h.back);
              var i="rotate"+("x"==h.axis.toLowerCase()?"x":"y"), j=2*g["outer"+("rotatex"==i?"Height":"Width")]();
              g.find(g.data("back")).css( {
                transform: i+"("+(h.reverse?"180deg":"-180deg")+")"
              }
              ), g.css( {
                perspective: j, position:"relative"
              }
              );
              var k=h.speed/1e3||.5, l=g.find(h.front).add(h.back, g);
              if(h.forceHeight?l.outerHeight(g.height()):h.autoSize&&l.css( {
                height: "100%"
              }
              ), h.forceWidth?l.outerWidth(g.width()):h.autoSize&&l.css( {
                width: "100%"
              }
              ), l.css( {
                "backface-visibility": "hidden", "transform-style":"preserve-3d", position:"absolute", "z-index":"1"
              }
              ), l.find("*").css( {
                "backface-visibility": "hidden"
              }
              ), g.find(g.data("back")).css( {
                transform: i+"("+(h.reverse?"180deg":"-180deg")+")", "z-index":"0"
              }
              ), (window.chrome||window.Intl&&Intl.v8BreakIterator)&&"CSS"in window&&g.css( {
                "-webkit-transform-style": "preserve-3d"
              }
              ), setTimeout(function() {
                l.css( {
                  transition: "all "+k+"s ease-out"
                }
                ), void 0!==f&&f.call(this)
              }
              , 20), "click"==h.trigger.toLowerCase())g.on(a.fn.tap?"tap.flip":"click.flip", function(d) {
                d||(d=window.event), g.find(a(d.target).closest('button, a, input[type="submit"]')).length||(g.data("flipped")?c(g): b(g))
              }
              );
              else if("hover"==h.trigger.toLowerCase()) {
                var m=function() {
                  g.off("mouseleave.flip"), b(g), setTimeout(function() {
                    g.on("mouseleave.flip", n), g.is(":hover")||c(g)
                  }
                  , h.speed+150)
                }
                , n=function() {
                  c(g)
                }
                ;
                g.on("mouseenter.flip", m), g.on("mouseleave.flip", n)
              }
            }
            else"toggle"==d&&(d=!g.data("flipped")), d?b(g, f):c(g, f)
          }
          ),
          this
        }
        ;
        var e=function(b, c) {
          var d=!1;
          if(void 0!==b.axis&&a(this).data("axis")!=b.axis.toLowerCase()&&(a(this).data("axis", b.axis.toLowerCase()), d=!0), void 0!==b.reverse&&a(this).data("reverse")!=b.reverse&&(a(this).data("reverse", b.reverse), d=!0), d) {
            var e=a(this).find(a(this).data("front")).add(a(this).data("back"), a(this)),
            f=e.css(["transition-property", "transition-timing-function", "transition-duration", "transition-delay"]);
            e.css( {
              transition: "none"
            }
            );
            var g="rotate"+a(this).data("axis");
            a(this).data("flipped")?a(this).find(a(this).data("front")).css( {
              transform: g+(a(this).data("reverse")?"(-180deg)":"(180deg)"), "z-index":"0"
            }
            ):a(this).find(a(this).data("back")).css( {
              transform: g+"("+(a(this).data("reverse")?"180deg":"-180deg")+")", "z-index":"0"
            }
            ),
            setTimeout(function() {
              e.css(f), c.call(this)
            }
            .bind(this), 0)
          }
          else setTimeout(c.bind(this), 0)
        }
      }

      (jQuery);
    </script>
    <script>//Flipping of cards in event section
      $(".flip").flip({
        axis: 'y',
        trigger: 'hover',
        reverse: true
      });
    </script>

</body>

<!-- Footer -->
<footer class="container padding-64 center opacity light-grey xlarge">
  <a href="https://www.facebook.com/IEEE.org/" target="_blank"><i class="fa fa-facebook-official hover-opacity"></i></a>
  <a href="https://www.instagram.com/ieeeorg/?hl=en" target="_blank"><i class="fa fa-instagram hover-opacity"></i></a>
  <a href="https://www.linkedin.com/company/ieee" target="_blank"><i class="fa fa-linkedin hover-opacity"></i></a>
  </footer>
  <footer class="container center opacity light-grey" style="padding-bottom: 20px">
      <a href="https://www.ieee.org/" target="_blank" class=" button padding-large center black large " style="margin-top:25px" >JOIN  IEEE!</a>
  </footer>
</html>
