{% extends "layout-for-others.html" %}
{% block content %}

<div class=" backgroundimg">
    <img src="/static/img/execom/bg.jpg" style="max-width: 100%;margin-top:10vh">
    <div class="centered">EVENTS</div>
</div>

<div class="container center black" style="max-width:1000px;font-size: 15px;">
    <ol>
        <li style="display:inline-block"><a href="/home"><i class="fa fa-home"></i> Home</a> /</li>
        <li style="display:inline-block"><a href="/home/events"><i class="fa fa-calendar"></i> Events</a></li> /
        <li style="display:inline-block">{% block name_of_the_event_path %}{% endblock %}</li>
    </ol>
</div>


<div class="container content padding-80" style="max-width:1000px" id="events">
    
    <p class="opacity center"><i>IEEE bringing you the latest</i></p>

    <div class="row-padding padding-32" style="margin:0 -16px">
        <div class="container border-bottom ">
        <h2 class="justify">{% block name_of_the_event %}{% endblock %}</h2>
        <h3 class=" lead-text">--{% block status %}{% endblock %}</h3>
        </div>
        <div class="container border-bottom">
            <table style="font-size:18px;">
                <tr>
                    <td style="padding: 0 20px 10px 0 ; width: 138px ">Date:</td>
                    <td class="lead-text" style="padding: 0 20px 10px 0 ;" style="padding-left:20px">{% block date %}{% endblock %}</td>
                </tr>
                <tr>
                    <td style="padding: 0 20px 10px 0 ; width: 138px ">Time:</td>
                    <td class="lead-text" style="padding: 0 20px 10px 0 ;" style="padding-left:20px">{% block time %}{% endblock %}</td>
                </tr>
                <tr>
                    <td style="padding: 0 20px 10px 0 ; width: 138px ">Category:</td>
                    <td class="lead-text" style="padding: 0 20px 10px 0 ;" style="padding-left:20px">{% block tech %}{% endblock %}</td>
                </tr>
                <tr>
                    <td style="padding: 0 20px 0  0 ; width: 138px ">Venue:</td>
                    <td class="lead-text" style="padding: 0 20px 0  0 ;" style="padding-left:20px">{% block venue %}{% endblock %}</td>
                </tr>
            </table>
        </div>
        <div class="container border-bottom">
            <h2>Introduction:</h2>
            <p class="black-text">{% block introduction %}{% endblock %}</p>
            <br>
            <h2>Objective:</h2>
            <p class="black-text">{% block objective %}{% endblock %}</p>
            <br>
            <h2>Goals:</h2>
            {% block goals %}{% endblock %}
            <br> 
            <h2>Register Now!!!</h2>
            <p>{% block register_info %}{% endblock %}</p>
            <a href="{% block google_form_link %}{% endblock %}" class="link" target="_blank" ><u>Click here</u></a> to fill the form. 
            <br><br><br>
        </div>
    </div>
    <div class="container padding- center">
        <button class="button black section" type="submit" ><a href="/" style="text-decoration: none;">BACK TO HOME</a></button>
    </div>
</div>
    
{% endblock %}